@using Ryze.System.Web.Models.Accounts
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "RyzeSystem";
}


<div class="col-md-6 col-lg-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Resetar Senha</div>
        </div>
        <div class="card-body">
            <form asp-area="AdminUsers" asp-action="ResetPassword" method="post">
                <input asp-for="UserId" type="hidden" class="form-control" />
                <input asp-for="Token" type="hidden" class="form-control" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>
</div>
