@using Ryze.System.Application.DTO.Tickets
@using Ryze.System.Domain.Enum
@model TicketCountsResult


@{
    ViewData["Title"] = "RyzeSystem";
}


<h1>Seja bem Vindo</h1>

        <div class="row row-card-no-pd">
        <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-round">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="icon-pie-chart text-secondary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Total Tickets</p>
                                <h4 class="card-title">@Model.Total</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-round">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                            <i class="far fa-check-circle text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Tickets em Aberto</p>
                                <h4 class="card-title">@Model.StatusCounts[StatusEnum.EmAberto] </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-round">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                            <i class="far fa-clock text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Tickets Em Andamento</p>
                                <h4 class="card-title">@Model.StatusCounts[StatusEnum.EmAndamento]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-round">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                            <i class="far fa-times-circle text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Tickets Finalizados</p>
                                <h4 class="card-title"> @Model.StatusCounts[StatusEnum.Fechado]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
