@using Ryze.System.Web.Models.Accounts

@model ForgotPasswordViewModel


@{
	Layout = null;
}

@{
	ViewData["Title"] = "RyzeSystem";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Manager Tickets</title>

	<link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/kaiadmin.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/plugins.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/System.Tickets.Web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/System.Tickets.Web.styles.css" asp-append-version="true" />

</head>
<body class="login bg-primary">
	<div class="wrapper wrapper-login">
		<div class="container container-login animated fadeIn" style="display: block !important;">
			<h3 class="text-center">Recuperação de Senha</h3>
			<div class="login-form">
				<p>Por favor, insira seu endereço de e-mail para que possamos enviar um link de redefinição de senha.</p>

				<form asp-action="ForgotPassword" method="post" id="form-forgot">
					<div class="form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<button class="btn btn-secondary" type="submit" id="submitButton">
							<span id="spinner" class="spinner-border spinner-border-sm text-info" role="status" style="display: none;"></span>
							Enviar
						</button>						
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="~/js/core/jquery-3.7.1.min.js"></script>
	<script src="~/js/core/popper.min.js"></script>
	<script src="~/js/core/bootstrap.min.js"></script>	

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			const form = document.querySelector('#form-forgot');
			const submitButton = document.getElementById('submitButton');
			const spinner = document.getElementById('spinner');		

			form.addEventListener('submit', function () {
				submitButton.disabled = true;
				spinner.style.display = 'inline-block';
			});
		});
	</script>
</body>
</html>
