@{
	Layout = null;
}


@{
	ViewData["Title"] = "RyzeSystem";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Manager Tickets</title>

	<link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/kaiadmin.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/plugins.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/System.Tickets.Web.styles.css" asp-append-version="true" />

</head>
<body class="login bg-primary">
	<div class="wrapper wrapper-login">
		<div class="container container-login animated fadeIn" style="display: block !important;">
			<h3 class="text-center">Recuperação de Senha</h3>
			<div class="login-form">

				<p>Se o endereço de e-mail inserido estiver associado a uma conta, você receberá um e-mail com instruções para redefinir sua senha.</p>
				<p>Por favor, verifique seu e-mail.</p>

				<a asp-action="Login" class="btn btn-secondary">Voltar ao login</a>
			</div>
		</div>
	</div>
</body>
</html>