@using Ryze.System.Web.Models.Accounts
@model ResetPasswordViewModel



@{
    Layout = null;
}


@{
    ViewData["Title"] = "RyzeSystem";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manager Tickets</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kaiadmin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/plugins.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/System.Tickets.Web.styles.css" asp-append-version="true" />

</head>
<body class="login bg-primary">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn" style="display: block !important;">
            <h3 class="text-center">Redefinir Senha</h3>
            <form asp-action="ResetPassword" method="post" id="reset-pass">
                <input asp-for="UserId" type="hidden" class="form-control" />
                <input asp-for="Token" type="hidden" class="form-control" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit" id="submitButton">
                        <span id="spinner" class="spinner-border spinner-border-sm text-info" style="display: none;"></span>
                        Salvar
                    </button>                    
                </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('#reset-pass');
            const submitButton = document.getElementById('submitButton');
            const spinner = document.getElementById('spinner');

            form.addEventListener('submit', function () {
                submitButton.disabled = true;
                spinner.style.display = 'inline-block';
            });
        });
    </script>
</body>
</html>
